p {
    margin: 10px;
}

.pagination {
    display: block;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.pagination>li>a {
    color: #404040;
    float: none;
}

.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus
{
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #404040;
    border-color: #404040;
}

.pagination>li>a:hover, .pagination>li>a:focus {
    z-index: 3;
    color: black;
    cursor: default;
    background-color: white;
    border-color: #404040;
}

.glyphicon {
    margin-left: 10px
}

.board-category {
    font-size: 12px;
    color: #404040;
    margin: 5px;
    margin-left: 20px
}

.board-field {
    margin-bottom: 30px
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4285;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    background-color: #3b3b3b;
    border-color: #282828;
    background-color: #3b3b3b;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #282828;
    border-color: #080808;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: gray;
    border-color: gray;
}

.btn-sm, .btn-group-sm>.btn {
    text-align: center;
    padding: 13px 13px;
    font-size: 14px;
    line-height: 1.5;
    /*     border-radius: 3px; */
    border-top: 35px;
    padding: 13px 13px;
}

#write-field {
    padding: 0 0 30px 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#write-field table {
    width: 100%;
    border: 0;
    border-spacing: 0;
}

#write-field td {
    padding: 8px 0 8px 0;
}

#write-field .td1 {
    width: 70px;
    min-height: 30px;
    font-weight: bold;
    color: #666;
    vertical-align: middle;
}

#write-field .td1.vtop {
    vertical-align: top;
    padding-top: 10px
}

#write-field .td2 input[type="text"], input[type="password"] {
    height: 28px;
    padding: 3px;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#write-field .input-title {
    float: left;
    color: #666;
    font-weight: bold;
    line-height: 30px;
    vertical-align: middle;
    width: 70px;
    margin: 4px 0 4px 0;
}

#write-field .input-forms {
    margin: 4px 0 4px 0;
    overflow: hidden;
}

#write-field .input-name {
    height: 28px;
}

#write-field .input-pwd {
    height: 28px;
}

#write-field .td2 .more {
    width: 85%;
}

#write-field .td2 select {
    min-width: 155px;
    max-width: 250px;
    height: 28px;
    padding: 2px;
    margin: 0;
}

#write-field .td2 .guide {
    font-size: 90%;
    font-family: dotum;
    color: #999;
    padding: 3px 0 10px 0;
}

#write-field .td2 .guide img {
    position: relative;
    top: -1px;
}

#write-field .td2 .check-label {
    color: #666;
}

#write-field .td2 .after {
    padding: 10px 0 0 0;
    color: #999;
    font-family: dotum;
}

#write-field .td2 .after input {
    position: relative;
    top: 1px;
}

#write-field .editbox {
    padding: 15px 0 15px 0;
}

#write-field .iconbox {
    border-left: #e0e0e0 solid 1px;
    border-top: #e0e0e0 solid 1px;
    border-right: #e0e0e0 solid 1px;
    background: #f9f9f9;
    padding: 6px 0 8px 7px;
}

#write-field .iconbox a {
    padding: 0 3px 0 3px;
    font-family: dotum;
    color: #333;
}

#write-field .iconbox a:hover {
    color: #7899C7;
}

#write-field .iconbox a img {
    position: relative;
    top: -1px;
    margin-right: 3px;
}

#write-field .iconbox .split {
    padding: 0 2px 0 2px;
    margin-bottom: -1px;
}

#write-field .bottombox {
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 15px 0 0 0;
    border-top: #efefef solid 1px;
}

#write-field .bottombox .btngray {
    font-weight: bold;
    width: 60px;
    height: 25px;
}

#write-field .bottombox .btnblue {
    font-weight: bold;
    width: 80px;
    height: 25px;
}